@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.team-box {
    width: 100%;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    font-size: 24px;

    margin: 0;
}

.modify-btn {
    border: none;
    background: transparent;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #5A5353;

    cursor: pointer;
}

.delete-btn {
    border: none;
    background: transparent;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #5A5353;

    cursor: pointer;
}

.team-manage {
    display: flex;
}

.team-info {
    font-size: 20px;
    text-align: left;
}